{% extends 'blog/base.html' %}

{% block content %}
<h1></h1>
<form class="post-form" method="POST">{% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="save btn btn-default">Submit</button>
</form>
{% endblock %}
