{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
      <h2>{{ post.title }}</h2>
      {% if user.is_authenticated and post.author == user.username or user.is_superuser %}
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
      {% endif %}
      <br>
      <div class="content">
        <h4 class="username">Written By: {{ post.author }}</h4>
        <p>{{ post.text|linebreaksbr}}</p>
        </div>
        {% if post.published_date %}
          <p>{{ post.published_date|linebreaksbr }}</p>
        {% else %}
            <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
        {% endif %}
    </div>
    <hr>
    <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
    {% for comment in post.comments.all %}
      <div class="comment">
          <div class="date">
              {{ comment.created_date }}
              {% if comment.author == user.username or user.is_superuser or comment.post.author == user.username %}
                  <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
              {% endif %}
          </div>
          <strong>{{ comment.author }}</strong>
          <p>{{ comment.text|linebreaks }}</p>
      </div>

  {% empty %}
      <p>No comments here yet :(</p>
  {% endfor %}
{% endblock %}
