{% extends 'blog/base.html' %}

{% block content %}
  {% for post in posts %}
  <div class="post">
    <h2 id="title"><a href="{% url 'post_view' pk=post.pk %}">{{ post.title }}</a></h2>
    {% if user.is_authenticated and post.author == user.username %}
      <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
    {% endif %}
    <br>
    <div class="content">
      <h4 class="username">Written By: {{ post.author }}</h4>
      <p>{{ post.text|linebreaksbr}}</p>
      <p>{{ post.published_date|linebreaksbr }}</p>
      <a href="{% url 'post_view' pk=post.pk %}">Comments: {{ post.comments.count }}</a>
    </div>
  </div>
  {% endfor %}
{% endblock %}
