h1 a {
  color: #b5e3e3;
}
h2 a {
  color: #b5e3e3;
}
div{
  border-bottom: 1px solid;
}
h2{
  margin: 0;
  display: inline;
  text-align: left;
}
.comment {
  margin: 20px 0px 20px 20px;
}
.post{
  padding-left: 10px;
  background-color: #9e64b4;
  width: 100%;
  padding-bottom: 10px;
  text-align: center;
}
.content {
  background-color: #ffffff;
  border-radius: 25px;
  border: 1px solid darkgray;
  position: relative;
  width: 80%;
  height: 100%;
  padding: 5px;
  display: inline-block;
}
.title {
  padding-left: 10px;
}
